
html {
    font-size: 100%; /* Voir -> Note 1 à la fin de la feuille de styles. */
}
body {
    margin: 0;
    padding: 10px 20px; /* Note -> 2 */
    font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; /* 3 */
    font-size: .8em; /* -> 4 */
    line-height: 1.25; /* -> 5 */
    color: black;
    background: white;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em 0; /* -> 6 */
}
h1, h2 {
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
    font-weight: normal; /* -> 7 */
}
h1 {
    font-size: 3em; /* -> 8 */
    font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

/* Listes */
ul, ol {
    margin: .75em 0 .75em 24px;
    padding: 0; /* -> 9 */
}
ul {
    list-style: square;
}
li {
    margin: 0;
    padding: 0;
}

/* Paragraphes */
p {
    margin: .75em 0;
}
li p, blockquote p {
    margin: .5em 0;
}

/* Citations */
blockquote, q {
    font-size: 1.1em;
    font-style: italic;
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}
blockquote {
    margin: .75em 0 .75em 24px;
}
cite {
    font-style: italic;
}

/* Liens */
a {
    color: mediumblue;
    text-decoration: underline;
}
a:hover, a:focus {
    color: crimson;
}
a img {
    border: none; /* -> 10 */
}

/* Divers éléments de type en-ligne */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
    color: dimgray;
}
pre, code {
    font-size: 100%;
    font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
}
pre {
    width: 90%;
    overflow: auto;
    overflow-y: hidden;
    margin: .75em 0;
    padding: 12px;
    background: #eee;
    color: #555;
}
pre strong {
    font-weight: normal;
    color: black;
}
#copyright {
    margin: 20px 0 5px 0;
    text-align: right;
    font-size: .8em;
    color: #848F63;
}
#copyright a {
    color: #848F63;
    text-decoration: none;
}
#copyright a:hover, #copyright a:focus {
    text-decoration: underline;
}
:root{
    --menu-bg-color : #181A12;
}

.menu {
    background : #181A12;
    padding : 0.5em;
}
.menu a {
    height: 1%; /* -> 3 */
    padding: 0.5em;
    font-size: .9em;
    text-decoration: none;
}
/* Menu */
.menu {
    background : var(--menu-bg-color);
}
.menu a {
    line-height: 2.5;
    border-style : solid;
    border-width : 0.1em;
    border-color : #181A12;
    padding: 0.25em 0.5em;
}
.menu a:hover {
    background-color : #303030 ;
    border-color : #808080;
    border-radius: 0.75em 0.25em;
}
/* Sous menu */
#sous-menu {
    width: 18%;
    float: left; /* -> 2 */
}
#sous-menu ul {
    margin: 0;
    padding: 20px 10px;
    list-style: none;
}
#sous-menu a {
    display: block;
    line-height: 2;
    color: #FF6533;
}
/* ------ */
/* footer */
/* ------ */
#credits {
    display : block;
    visibility : hidden;
}

body {
    color: #F0E39E;
    background: #62421B;
}
a {
    color: #FF6533;
}
a:hover, a:focus {
    color: #FF4C00;
}
strong {
    color: #A1B55D;
}

/* Navigation */
#navigation {
    background: #181A12;
}
#navigation a {
    color: #FF6533;
}
#navigation a:hover, #navigation a:focus {
    background: #000000;
}

/* Contenu principal */
#contenu {
    border-radius: 9px;
    color: #363B29;
    background: #cbd888;
    height: 350px;
    overflow: auto;

}
#contenu a {
    color: #332510;
}
#contenu a:hover, #contenu a:focus {
    color: #6E5122;
}
#contenu strong {
    color: #181A12;
}


/* --- POSITIONNEMENT --- */

/* Page */
body {
    padding: 20px 50px; /* Voir -> Note 1 ci-dessous */
}

/* En-tête */
#entete {
    padding: 20px 0;
}
#entete h1 {
    margin: 0;
}
#entete h1 img {
    float: left;
    margin: 7px 20px 10px 0;
}
#entete .sous-titre {
    margin: 4px 0 15px 0;
}

/* Menu de navigation */
#navigation {
    width: 18%;
    float: left; /* -> 2 */
}
#navigation ul {
    margin: 0;
    padding: 20px 10px;
    list-style: none;
}
#navigation a {
    display: block;
    height: 1%; /* -> 3 */
    padding: 6px 6px 6px 10px;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
}

/* Contenu */
#contenu {
    margin-left: 20%; /* -> 4 */
    margin-bottom: 20px;
    padding: 10px 20px;
}
#contenu > :first-child {
    margin-top: 10px;
}
#contenu p, #contenu li {
    line-height: 1.5;
}

/* Mention de paternité */
#copyright {
    margin-left: 20%;
}

.repDb {
    background : lightgoldenrodyellow;
    border : 1px black solid;
    border-radius : 9px;
    margin : 0.5em;
    padding : 0.5em;
    height : 106px;
}

.imgDb {
    float : left;
}